body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.backpage{
  display: flex;
  justify-content: center;
}

.page{
  border: solid 1px black;
  width: 800px;
  height: 1128px;
  padding: 50px 80px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.about {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items:center;
}

.about-name {
  font-size: 48px;
}
.about-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-title{
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.education-name-date{
  display:flex;
  justify-content: space-between;
}

.experience-company-date{
  display:flex;
  justify-content: space-between;
}

.experience-instance-name,
.education-instance-name{
  font-size: 20px;
  font-weight: 900;
}

.education-form-name-date{
  display: flex;
  justify-content: space-between;
}

.education-form{
  display: flex;
  gap: 10px;
  flex-direction: column;
}


.add-experience-button{
  border: solid black 1px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.education-form-buttons{
  display: flex;
  gap: 10px;
}

.dates{
  display: flex;
  gap: 5px;
}

.react-datepicker-ignore-onclickoutside,
.react-datepicker__input-container > input{
  width: 80px;
  border: none;
  text-align: center;
  font-size: 14px;
}

.react-datepicker__input-container > input:hover{
  border: solid black 1px;
}

.cancel-button {
  width: 20px;
  margin-right: -20px;
  float: right;
  display: none;
}

.cancel-button:hover {
  display: block;
}

.cancel-button-taskdesc {
  width: 20px;
  float: right;
  display: none;
}

.education-instance:hover .cancel-button {
  display: block;
}

.task-description:hover .cancel-button-taskdesc{
  display: block;
}

.experience-instance:hover .cancel-button {
  display: block;
}

.popup {
  position: relative;
  display: inline-block;
}

.popup .popuptext {
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(180deg);
}

.fadeOut{
  opacity:0;
  transition: opacity 0.5s;

}
.fadeIn{
  opacity:1;
  transition: opacity 0.5s;
}

.about input {
  border: hidden;
}

.about input:hover{
  border: solid;
  border-width: 1px;
}

.about-details input {
  font-size: 16px;
}

.add-experience-button:hover {
  background-color: #555;
  color: white;
}

label {
  box-sizing: border-box;
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header{
  font-size: 50px;
  padding-left: 50px;
  padding-top: 50px;
}

.editable:hover{
  border: solid;
  border-width: 1px;
}